/vendor/
/var/
/public/
/bin/
symfony.lock
/.php-cs-fixer.cache
/.phpunit.cache
/.phpunit.result.cache
/.idea/
.DS_Store
infection.log
infection.html
infection-per-mutator.md
infection-summary.log
.wrangler