includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max

    paths:
        - src

    bootstrapFiles:
        - vendor/autoload.php

    treatPhpDocTypesAsCertain: true